*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.topbar{
    color:#fff;
    background-color:#073E51;
    Size:13px;
    line-height:24px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}
.topbar p{
    margin-bottom: 0px;
    font-size: 13px;
}
.topbar .get-started{
    padding: 0px 10px !important;
    background-color: #00914D;
    border:none;
    color:#fff;
    margin: 0px 8px;
    border-radius: 4px;
    width: 164px;
}
.fas.icon-right-arrow.icon-right-arrow {
    display: none;
}
.main-nav{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0px;
}
.main-sec{
    padding: 0px 20px;
}
.main-toggle {
    display: flex;
    align-items: center;
}
.phone{
    padding: 0px 0px 0px 0px;
}
.main-toggle{
    display: none;
}

/* .main-navbar {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
} */

.contact-info {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 17px 10px 10px 10px;
    margin: 0px 10px 0px 0px;
}
a.nav-link {
    color: #000 !important;
    font-family: Work sans;
    font-weight: 500;
    font-size: 16px;
}
.navbar-nav li {
    margin: 0px 0px 0px 30px;
}
li.nav-item:nth-last-child(6){
    background: #00914D;
    padding: 0px 5px;
    border-radius: 5px;
}
a.nav-link.active {
    color: white !important;
}
.collapse.navbar-collapse{
    display: flex;
    justify-content: end;
}
.login{
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 14px;
    padding-top: 5px;
}
nav.navbar.navbar-expand-md.navbar-dark {
    padding: 0px;
    margin-bottom: 20px;
}

.contect-icon {
    margin-right: 4px;
    
}

.logo img{
    width: 100%;
}
.tel{
    color:#00914D;
    font-weight: 500;
}
.phone p{
    margin-bottom: 0px;
    padding-left: 5px;
    font-weight: bold;
}
.phone {
    display: flex;
    
}
.contect-info{
    font-family:Work Sans;  
    font-Weight:500;
    Size:14px;
}
.contect-icon svg{
    width:20px;
    height:25px;
}
.btn-login{
    background-color: #fff;
    border: 1px solid  #00914D;
    padding: 3px 10px;
    border-radius: 4px;
    margin:5px 12px 0px 20px ;
}

/* -----SLIDER------ */
.slider {
    display: flex;
    width: 100%;
    margin-top: 15px;
}
.slider-img {
    width: 20%;
}
.slider-img img {
    width: 90%;
    margin: 0 auto;
}
button.slick-prev.slick-arrow {
    display: none  !important;
}
button.slick-next.slick-arrow{
    display: none  !important;
}
.our-insta {
    color: #073E51;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0px;
    padding: 0px 15px;
    font-family: Work Sans;
    
}
.custom-dot ul.slick-dots{
    position: absolute;
    bottom: 110%;
    right: 2%;
}
.insta svg{
    margin-left: 15px;
}
.insta a{
    color:#00914D;
    font-family: Work Sans;
    font-weight: 400;
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent; }
  
  
    ul.slick-dots {
      display: inline-block;
      bottom: 100%;
      right: 20%;
      position: absolute;
  }
  
  .slick-dotted.slick-slider {
    margin-bottom: 30px; }
  
  .slick-dots {
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0; }
    
    .slick-dots li {
      position: relative;
      display: inline-block;
      height: 20px;
      width: 20px;
      margin: 0 5px;
      padding: 0;
      cursor: pointer; }

      .slick-dots li button, .slick-dots li a {
        border: 0;
        background: transparent;
        display: block;
        height: 20px;
        width: 20px;
        line-height: 0px;
        font-size: 0px;
        color: transparent;
        padding: 5px;
        cursor: pointer; }

        .slick-dots li button:hover:before, .slick-dots li button:focus:before, .slick-dots li a:hover:before, .slick-dots li a:focus:before {
          opacity: 1; }
          .slick-dots li button:before, .slick-dots li a:before {
            position: absolute;
            top: 0px;
            left: 0;
            content: "•";
            width: 15px;
            height: 15px;
            font-family: "slick-icons, sans-serif";
            line-height: 15px;
            text-align: center;
            /* color: rgba(0, 145, 76, 1); */
            border: 1px solid rgba(7, 62, 81, 1);
            border-radius: 50%;
        }
        .slick-dots li.slick-active button:before {
            color: rgba(0, 145, 76, 1);
            font-size: 26px;
        }
        .insta {
            display: flex;
            align-items: center;
        }
        .cls-destop{
            display: block;
        }
        .cls-mobile{
            display: none;
        }
@media screen and (max-width:991px) {

    .navbar-nav li {
        margin: 0px 0px 0px 9px;
    }
    .logo {
        width: 26%;
    }
}
@media screen and (max-width:768px) {
    .get-started{
        display: none;
    } 
    .fas.icon-right-arrow.icon-right-arrow {
        display: inline;
        background-color: #00914D;
        padding: 2px;
        border-radius: 50%;
        margin-left: 10px;
        color: #073E51;
        width: 5%;
        
    }
    .slider-img {
        margin-bottom: 20px;
    }
    .main-nav-menu {
        display: flex;
        flex-direction: row;
    }
    .main-navbar {
        align-items: inherit;
    }
    .contact-info{
        align-items: inherit;
    }

    button.toggler-button {
    font-size: 15px;
}
.phone {
    display: block;
    line-height: 15px;
    margin-right: 15px;
}

.contect-icon{
    padding: 5px;

}
.tel{
    font-size: 13px;
}

.main-toggle {
    display: flex;
    align-items: center;
}
.login{
    display: none;
}
.collapse.navbar-collapse{
    display: block;
}
.logo{
    width:25%;
}
button.navbar-toggler.toggle-bg {
    background: #073E51;
    border-radius: 0px;
}
.insta {
    display: block;
    text-align: center;
    margin-bottom: 60px;
}
.custom-dot ul.slick-dots {
    bottom: 103%;
    right: 0%;
    width: 100%;
}
.cls-destop{
    display: none;
}
.cls-mobile{
    display: block;
}
.main-nav {
    margin-top: 15px;
}
button.navbar-toggler.bg-dark {
    border-radius: 0px;
}
.phone p {
    font-weight: 500;
}
a.nav-link {
    font-size: 13px;
}
ul.navbar-nav {
    margin-top: 15px;
}
.insta a {
    background: #F6F7F7;
    padding: 10px 16px;
    border-radius: 15px;
}
.our-insta{
    margin-bottom: 10px;
}
}
@media screen and (max-width:740px) {
    .logo{
        width: auto;
    }

}
@media screen and (max-width:576px) {
    .logo {
        width: 45%;
    }
}
@media screen and (max-width:480px) {
button.toggler-button {
    font-size: 13px;
}
.logo {
    width: 44%;
}
.contect-icon svg {
    width: 16px;
    height: 18px;
}
button.navbar-toggler.bg-dark {
    padding: 3px 0px;
    width: 45px;
}
.phone p{
    font-size: 13px;
}
.phone {
    display: block;
    padding: 0px 8px 0px 0px;
    line-height: 15px;
    margin-right: 0px;
}
}
@media screen and (max-width:375px) {
    .contect-icon{
        display: none;
    }
    .phone{
        display: none;
    }
    .logo {
        width: 64%;
    }
}